@import "tailwindcss";

@theme{
  --color-gray:#86868b;
  --color-gray-100:#94928d;
  --color-gray-200:#afafaf;
  --color-gray-300:#42424570;

  --color-blue:#2997FF;

  --color-zinc:#101010;
}

body {
  color: white;
  width: 100dvw;
  overflow-x: hidden;
  height: 100%;
  background: #000;
  border-color: #3b3b3b;
  user-select: none;
}

canvas {
  touch-action: none;
}

.screan-max-width {
  margin-inline-start: auto;
  margin-inline-end: auto;
  position: relative;
  max-width: 1120px;
}
.flex-center {
  @apply flex items-center justify-center
}
.section-heading {
  @apply text-gray lg:text-6xl md:text-5xl text-3xl lg:mb-0 mb-5 font-medium opacity-0 translate-y-20
}
.common-padding {
  @apply sm:py-32 py-20 sm:px-10 px-5
}
.link {
  @apply text-blue hover:underline cursor-pointer flex items-center text-xl opacity-0 translate-y-20
}
.video-carousel_container {
  @apply relative sm:w-[70vw] w-[88vw] md:h-[70vh] sm:h-[50vh] h-[35vh]
}

.control-btn {
  @apply ml-4 p-4 rounded-full bg-gray-300 backdrop-blur flex items-center justify-center
}